{% load static %}
<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EngSoc</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="icon" href="/static/assets/img/brand/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">
    <!-- Icons -->
    <link href="/static/css/semantic.min.css" rel="stylesheet">

    <!-- CSS Files -->
    <link href="/static/css/semantic.min.css" rel="stylesheet">
    <link href="/static/css/select2.min.css" rel="stylesheet">
    <link ref="preload" href="/static/css/icons.woff2" as="style">
    {# Additional CSS or html head data inserted by templates here. #}
    {% block extrahead %}
    {% endblock extrahead %}
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="ui body container">
      <div class="ui visible left vertical menu thin sidebar">
        <div class="item" style="padding-bottom: 0; padding-top: 0">
          <img class="logo" src="/static/assets/img/brand/bch.svg" style="height:42.05px"></div>
        <div class="text-center" style="padding-top: 1rem; padding-bottom:5px">
          <h7 class="" id="datetime">
            {% now "N d, Y, H:i, T" %}
          </h7>
        </div>
        {% include 'includes/weather_widget.html' %}

        {% if user.is_authenticated %}
        <div class="item text-center" style="padding-top: 5px">
          <h5>Welcome, {{ user.first_name}}</h5>
        </div>
        {%endif%}

        {% if user.is_authenticated %}
        {% if project_id %}
        <a href="{% url 'todo:hazard_list' project_id project_slug %}"
          class="{% if request.resolver_match.view_name == 'todo:hazard_list' %}active{% endif %} item text-center">
          Hazard List </a>
        <a href="{% url 'todo:team_list' project_id project_slug %}"
          class="{% if request.resolver_match.view_name == 'todo:team_list' %}active{% endif %} item text-center">
          Team List </a>
        {%endif%}
        {%endif%}

        <div class="ui bottom fixed menu"
          style="align-items: flex-end; padding: 0 1.618rem 0 1.618rem; border-top: none">
          <div class="" style="font-size: 0.618rem; width:100%; text-align: center">Distribution @{% now "Y" %}</div>
        </div>
      </div>

      <div class="ui fixed top main menu">
        <a href="/" class="{% if request.resolver_match.view_name == 'home' %}active{% endif %} item header
          item">
          Home
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'todo:project_list' %}"
          class="{% if 'todo' in request.resolver_match.view_name %}active{% endif %} item">Safety by
          Design</a>
        <div class="ui simple dropdown item">
          Dropdown <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="http://hw/safety/Pages/default.aspx">SafeHub</a>
            <a class="item" href="https://designhub.bchydro.bc.ca/web/app">DesignHub</a>
            <div class="divider"></div>
            <h5 class="header">DISTRIBUTION</h5>
            <div class="item">
              <i class="dropdown icon"></i>
              Standards
              <div class="menu">
                <a class="item" href="http://edmbchwiki1/dist/standards/index.php/Main_Page">DSWiki</a>
                <a class="item" href="http://pq.bchydro.bc.ca/">PQWeb</a>
              </div>
            </div>
            <a class="item" href="https://hydroshare.bchydro.bc.ca/sites/de/default.aspx">Engineering</a>
          </div>
        </div>
        <a href="{% url 'logout' %}" class="header item">
          Log Out
        </a>
        {% endif %}
      </div>

      <!-- Site content !-->
      <div class="element">
        <div class="messages" id="message_list">
          {% if messages %}
          {% for message in messages %}
          {% if message.tags %}
          <div class="ui {{ message.tags }} {% endif %} floating message" id="message_container">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
        </div>


        <p>{{ form.non_field_errors }}</p>

        <!-- Begin page content -->
        {% block content %}

        {% endblock content %}
        <!-- jQuery and Bootstrap core JS, plus Popper -->
        <footer></footer>
      </div>


      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
      <script src="{% static 'js/semantic.min.js' %}"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1/dist/umd/popper.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1/dist/umd/popper-utils.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1/dist/umd/popper-utils.min.js"></script>
      <script src="{% static 'js/select2.min.js' %}"></script>

      <script>
        // hide messages after 3s
        const message_list = document.getElementById('message_list')
        console.log(message_list)
        setTimeout(function () {
          message_list.style.display = "none";
        }, 3500); // <-- time in milliseconds

        const message_ele = document.getElementById("message_container");
        if (message_ele != null) {
          setTimeout(function () {
            message_ele.style.display = "none";
            console.log(message_ele);
          }, 3000);
        };



        // datetime update

        let options = {
          hourCycle: 'h24',
          year: 'numeric',
          month: 'short',
          day: 'numeric',
          hour: '2-digit',
          minute: '2-digit',
          timeZoneName: 'short'
        };

        function next() {
          console.log('and then this')
          setInterval(function () {
            const w = new Date();
            document.getElementById("datetime").innerHTML = w.toLocaleString("en-CA", options);
          }, 60000);
        };

        const n = new Date();
        const sec = n.getSeconds() * 1000;
        document.getElementById("datetime").innerHTML = n.toLocaleString("en-CA", options);

        setTimeout(function () {
          const e = new Date();
          document.getElementById("datetime").innerHTML = e.toLocaleString("en-CA", options);
          next();
        }, (60000 - sec));

      </script>
      {% block extra_js %}

      {% endblock extra_js %}
    </div>
  </body>

</html>
