{% extends "base.html" %} {% block title %}{% endblock %}

{% block content %}

<h1>DISTRIBUTION ENGINEERING SOCIETY</h1>

<div class="card mt-4">
  <div class="card-header">
    <strong>
      ENGINEER REGISTRATION/LOGIN
    </strong>
  </div>
  <div class="card-body">
    <p>
      You have to log in to use the functions.
    </p>

    <p>
      {% if user.is_authenticated %}
      You are already logged in.
      {% else %}
      <a class="ui button" type="button" href="login/" id="loginlink">Log
        in</a>
      {% endif %}

      <p>If you have not registered yet</p>
      <a class="ui button" type="button" href="sign_up/" id="signup">Sign up</a>

    </p>
  </div>
</div>



{% endblock %}
