{# Form used by both Add Task and Edit Task views #}

<form action="" name="add_hazard" method="post">
    {% csrf_token %}
    <input type="hidden" name='action' value='edit_hazard'>
    <div class="container-fluid mb-3">
        <div class="form-group was-validated">
            <label for="id_description" name="description">Hazard Description</label><span class="required">*</span>
            <input type="text" class="form-control is-invalid" id="id_description" name="description" required
                placeholder=""
                value="{% if form1.description.value %}{{ form1.description.value }}{% endif %}">
        </div>
        <div class="form-group" hidden>
            <label for="id_index" name="index">Index</label>
            <input type="text" class="form-control" id="id_index" name="index" required
                placeholder="" value="{% if form1.index.value %}{{ form1.index.value }}{% endif %}">
        </div>
        <div class="form-group ">
            <label for="id_note">Note</label>
            <textarea class="form-control" id="id_note" name="note" rows="3"
                aria-describedby="inputNoteHelp">{% if form1.note.value %}{{ form1.note.value }}{% endif %}</textarea>
        </div>

        <div class="form-group row d-flex">

            <div class="form-group was-validated col-md-6">
                <div class="field">
                    <label for="id_risk_level">Risk Level</label><span class="required">*</span>
                    {{form1.risk_level}}
                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="field">

                    <label for="id_assigned_to">Assigned to</label>
                    {{form1.assigned_to}}
                </div>
            </div>
        </div>

        <div class="form-group row d-flex">

            <div class="ui form col-md-6">
                <div class="field mb-3">
                    <label for="id_details">Control Details</label>
                    {{form1.details}}
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="field">
                    <label for="id_control_measure">Control Measure</label>
                    {{form1.control_measure}}
                </div>
            </div>

        </div>


        <div hidden class="form-group">
            <label for="id_res_risk_level">Result Risk</label>
            {{form1.res_risk_level}}
        </div>

        <p>
            <input type="submit" name="edit_hazard" value="submit" class="ui right floated button ">
        </p>

    </div>
</form>

{% block extra_js %}

<script type="text/javascript">
    function showChoice() {
        el = document.getElementById("id_details");
        dl = document.getElementById("list__recommendations");

        if (el.value.trim() != '') {
            var opSelected = dl.querySelector(`[value="${el.value}"]`);
            console.log(opSelected);
            var option = document.createElement("option");
            var control = document.getElementById("id_control_measure");

            if (opSelected) {
                option.value = opSelected.value;
                console.log(option.value);
                option.text = opSelected.getAttribute('data-index');
                console.log(option.text);
                control.selectedIndex = option.text;

            }

        }

    }

</script>
{% endblock extra_js %}
