{% load static %}
{# form2 used by both Add and Edit views #}

<form action="" id="projectForm" name="add_project" method="post"
  data-locations-url="{% url 'todo:ajax_load_locations' %}">
  {% csrf_token %}
  <div class="mt-3">
    <div class="form-group row was-validated">
      <div class="form-group col-md-6">
        <label for="customControlValidation1">Project Number</label>
        <input type="text" class="form-control is_invalid" id="customControlValidation1" name="number"
          value="{% if form2.number.value != None %}{{ form2.number.value }}{% endif %}"
          placeholder="e.g. LM-VAN-121, VI-NAN-035, ..." required>
      </div>

      <div class="form-group col-md-6">
        <label for="customControlValidation2">SAP Number</label>
        <input type="text" class="form-control is-invalid" id="customControlValidation2" name="SAP_id"
          value="{% if form2.SAP_id.value != None %}{{ form2.SAP_id.value }}{% endif %}"
          placeholder="e.g. DY-1314, DP-0025, ..." required>
      </div>

    </div>
    <div class="form-group">
      <label for="id_title" name="title">Project Title</label>
      <input type="text" class="form-control" id="id_title" name="title"
        value="{% if form2.title.value != None %} {{ form2.title.value }} {% endif %}">
    </div>
    <div class="form-group">
      <label for="id_project_scope">Project Scope</label>
      <textarea class="form-control" id="id_project_scope" name="project_scope" rows="5"
        aria-describedby="inputNoteHelp">{% if form2.project_scope.value %}
        {{ form2.project_scope.value }}{% endif %}</textarea>
      <small id="inputNameHelp" class="form-text text-muted">Summary of
        the project scope.</small>
    </div>

    <div class="form-group row">
      <div class="form-group col-md-3">
        <label for="id_region">Region</label>
        {{ form2.region }}
      </div>

      <div class="form-group col-md-3">
        <label for="id_location">Location</label>
        {{ form2.location }}
      </div>

      <div class="form-group col-md-3">
        <label for="id_location">Stage</label>
        {{ form2.current_stage }}
      </div>

      <div class="form-group col-md-3">
        <label for="id_in_service_date">Date</label>
        <input type="date" class="form-control" id="id_in_service_date"
          name="in_service_date"
          value="{% if form2.in_service_date.value %}{{ form2.in_service_date.value|date:'Y-m-d' }}{% endif %}">
      </div>
    </div>

    <div class="form-group row">
      <div class="form-group col-md-6">
        <fieldset>

          <label for="id_POR">Engineer:</label>
          {{ form2.POR }}
        </fieldset>

      </div>

      <div class="form-group col-md-6">
        <fieldset disabled>

          <label for="id_group_disabled">Group:</label>
          {{ form2.group }}
        </fieldset>

      </div>

      <div hidden class="form-group col-md-6">
        <label for="id_group">Group:</label>
        {{ form2.group }}
      </div>

    </div>

  </div>
  <p>
    <input type="submit" name="edit_project" value="Submit" class="ui right floated button">
  </p>
</form>

{% block extra_js %}
<script type="text/javascript">
  let locations_region = {};
  locations_region['VI'] = {
    1: 'Victoria & Saanich',
    2: 'Western Communities',
    3: 'Duncan & Gulf Islands',
    4: 'Central VI',
    5: 'Northern VI',
  }
  locations_region['Interior & NIA'] = {
    6: 'Northern Interior',
    7: 'Southern Interior',
  }
  locations_region['LMN'] = {
    8: 'Vancouver',
    9: 'Burnaby',
    10: 'North Shore',
  }
  locations_region['LMS'] = {
    11: 'Fraser Valley West',
    12: 'Fraser Valley East',
  }

  function change_list() {
    let regions = document.getElementById("id_region");
    console.log(regions.options);
    let locations = document.getElementById("id_location");

    let sel_region = regions.options[regions.selectedIndex].text;
    console.log(sel_region);

    while (locations.options.length) {
      locations.remove(0);
    }

    let regs = locations_region[sel_region];
    console.log(regs);
    if (regs) {
      for (let key in regs) {
        let value = regs[key];
        let reg = new Option(value, key);
        locations.options.add(reg);
      }
    }
  }

</script>
{% endblock extra_js %}
