
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
env
.vscode
.elasticbeanstalk
bchydro.adroot.bchydro.bc.ca
media
.pytest_cache
./pytest.ini
