appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
bleach==3.2.1
certifi>=2020.12.5
colorama==0.4.4
distlib==0.3.1
Django==3.1.5
Faker>=5.4.0
filelock==3.0.12
flake8==3.8.4
gunicorn==20.0.4
iniconfig==1.1.1
isort>=5.7.0
mccabe==0.6.1
mypy==0.790
packaging>=20.8
pip>=20.3.3
pipenv==2020.11.16.dev0
pluggy>=1.0.0.dev0
py>=1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing>=3.0.0b2
pytest>=6.2.1
python-dateutil==2.8.1
pytz>=2020.5
regex==2020.11.13
setuptools>=51.1.2
six==1.15.0
sqlparse==0.4.1
titlecase==1.1.1
toml==0.10.2
Unidecode>=1.1.2
virtualenv>=20.3.0
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
zipp==3.4.0

cffi>=1.14.4
Pillow>=8.1.0
cryptography>=3.2.1
pyzmq>=20.0.0
paramiko>=2.7.2
tornado>=6.1
parso>=0.7.1
jedi>=0.17.2
django-mptt>=0.11.0
rope>=0.18.0
html2text>=2020.1.16
pywin32>=300
invoke>=1.5.0
ipython>=7.19.0
pylint>=2.6.0
Pygments>=2.7.3
ipykernel>=5.4.2
traitlets>=5.0.5
decorator>=4.4.2
backcall>=0.2.0
pickleshare>=0.7.5
bcrypt>=3.2.0
pycparser>=2.20
djangorestframework>=3.12.2
django-simple-history>=2.12.0
fabric>=2.5.0
lxml>=4.6.2
reportlab>=3.5.59
cssselect2>=0.4.1
tinycss2>=1.1.0
svglib>=1.0.1
django-model-utils>=4.1.1