asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.5
backcall==0.2.0
bleach==3.3.0
colorama==0.4.4
dal-admin-filters==1.0.2
decorator==4.4.2
Django==3.1.5
django-autocomplete-light==3.8.1
django-extensions==3.1.1
django-floppyforms==1.9.0
django-model-utils==4.1.1
django-simple-history==2.12.0
gunicorn==20.0.4
iniconfig==1.1.1
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.11
jupyter-core==4.7.1
packaging==20.9
parso==0.8.1
pathlib==1.0.1
pickleshare==0.7.5
pluggy==0.13.1
project==1.0
prompt-toolkit==3.0.16
py==1.10.0
pycodestyle==2.6.0
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.2
pytest-django==4.1.0
pytest-env==0.6.2
python-dateutil==2.8.1
pytz==2021.1
pywin32==300
pyzmq==22.0.3
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
tornado==6.1
traitlets==5.0.5
urllib3==1.26.3
utils==1.0.1
wcwidth==0.2.5
webencodings==0.5.1
