asgiref==3.3.1
bleach==3.3.0
dal-admin-filters==1.0.2
Django==3.1.5
django-autocomplete-light==3.8.1
django-extensions==3.1.1
django-model-utils==4.1.1
django-simple-history==2.12.0
packaging==20.9
pyparsing==2.4.7
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.3
utils==1.0.1
webencodings==0.5.1
gunicorn==20.0.4
