<a class="weatherwidget-io" data-scale="0.67" href="https://forecast7.com/en/49d25n123d08/metro-vancouver/"

  data-font="Roboto" data-mode="Current" data-days="3" data-theme="pure" data-basecolor="" data-shadow="rgba(213,
   214, 216, 0.02)" data-textcolor="#3E3935" data-highcolor="#FA4616" data-lowcolor="#10A3C8" data-suncolor="#E8927C"
  data-mooncolor="#9C948D" data-cloudcolor="#BEE7F9" data-cloudfill="#BEE7F9" data-raincolor="#004F6C"
  data-snowcolor="#9ADBE8">VANCOUVER</a>
<script>
  ! function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://weatherwidget.io/js/widget.min.js';
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, 'script', 'weatherwidget-io-js');

</script>
