<form name="get_root" method="get" class="form-inline"
    action="{% url 'filemanager:browser' %}?path=">

    <label class="sr-only" for="directory">directory</label>
    <div class="input-group w-75">
        <div class="input-group-append">
            <div class="input-group-text">Directory:</div>
        </div>
      <label for="id_directory"></label>
      <input class="form-control" type="text" name="directory" id="id_directory"
                                               placeholder="{{ clean_directory }}">

    </div>
    <button type="submit" class="btn btn-outline-primary-sm">Get Root Directory</button>


</form>
