<form action="" name="add_hazard" method="post">
	{% csrf_token %}
	<div class="card col-sm-3 bg-light">
		<ul class="list-group bg-light list-group-flush">
			{%if persons%}
			<li class="list-group-item bg-light font-weight-bold">
				Project Team
			</li>
			{% for form in form2.persons %}

			{%if form.is_team_member.value %}

			<li class="form-group">
				<label for="id_role" name="role">Hazad</label>
				<input type="text" class="form-control" id="id_role" name="role" required
					placeholder=""
					value="{% if form1.description.value %}{{ form1.description.value }}{% endif %}">
			</li>

			<li class="form-group">
				<label for="id_first_name" name="first_name">Hazad</label>
				<input type="text" class="form-control" id="id_first_name" name="first_name"
					required placeholder=""
					value="{% if form1.description.value %}{{ form1.description.value }}{% endif %}">
			</li>

			<li class="form-group">
				<label for="id_last_name" name="last_name">Hazad</label>
				<input type="text" class="form-control" id="id_last_name" name="last_name" required
					placeholder=""
					value="{% if form1.description.value %}{{ form1.description.value }}{% endif %}">
			</li>

			{%endif%}
			{%endfor%}

			<li class="list-group-item bg-light font-weight-bold">
				Stakeholders
			</li>
			{% for person in persons %}
			{%if person.is_stakeholder%}

			<li class="form-group">
				<label for="id_role" name="role">Hazad</label>
				<input type="text" class="form-control" id="id_role" name="role" required
					placeholder=""
					value="{% if form1.description.value %}{{ form1.description.value }}{% endif %}">
			</li>

			<li class="form-group">
				<label for="id_first_name" name="first_name">Hazad</label>
				<input type="text" class="form-control" id="id_first_name" name="first_name"
					required placeholder=""
					value="{% if form1.description.value %}{{ form1.description.value }}{% endif %}">
			</li>

			<li class="form-group">
				<label for="id_last_name" name="last_name">Hazad</label>
				<input type="text" class="form-control" id="id_last_name" name="last_name" required
					placeholder=""
					value="{% if form1.description.value %}{{ form1.description.value }}{% endif %}">
			</li>
			{%endif%}
			{% endfor %}

			{% endif %}
		</ul>
	</div>
</form>
