{% extends "base.html" %}
{% load static %}

{% block title %}Project {{ project.number }}{% endblock %}

{% block content %}
{% if project != None %}
<div class="card-deck">
  <div class="card col-sm-7 p-0">
    <div class="card-header">
      <h3>{{ project.number }} {% if project.SAP_id %}({{ project.SAP_id }}){% endif %}</h3>
    </div>
    <div class="card-body pt-1">
      <div class="card-title font-weight-bold p-1">
      {% if project.title %}{{ project.title }}{% endif %}
      </div>
      <div class="card-subtitle mb-1 text-muted">
        </div>
      {% if project.project_scope %}
      <div class="card-text text-sm">{{ project.project_scope|safe|urlize|linebreaks }}
      </div>
      {% else %}
      <div class="ui fluid placeholder" style="vertical-align:bottom">
        <div class="image header">
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="paragraph">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="card col-sm-3 p-0">
    <div class="ui segment" style="border: 0px; box-shadow: 0 0 0 0;">
      <div class="ui segments d-flex justify-content-between" style="box-shadow: 0 0 0 0;">
        <div class="ui segment  d-flex justify-content-between">
          <strong>Engineer:</strong>
          {% if project.POR %} {{ project.POR.get_full_name }} {% else %} TBD
          {% endif %}
        </div>

        <div class="ui segment  d-flex justify-content-between">
          <strong>Stage:</strong>
          {% if project.current_stage %} {{ project.current_stage }} {% else %} TBD {% endif %}
        </div>
        <div class="ui segment d-flex justify-content-between">
          <strong>Location:</strong>
          {% if project.region %} {{ project.region }}{% endif %}/{% if project.location %}
          {{ project.location }} {% else %} TBD
          {% endif %}
        </div>
        <div class="ui segment  d-flex justify-content-between">
          <strong>In Service Date:</strong>
          {% if project.in_service_date %}
          {% if project.is_delayed%}<span class="ui warning label">{%endif%}
          {{ project.in_service_date }}
          {% if project.is_delayed%}</span>{%endif%}
          {% else %} TBD {% endif %}

        </div>
      </div>
      <div class="ui right floated buttons" role="group" aria-label="ProjectButtons">
        <button class="ui small button" id="EditProjectButton" type="button"
          data-toggle="collapse" data-target="#EditProject">
          Edit
        </button>
        <div class="or"></div>

        <button class="ui button" id="DeleteProjectButton" type="button"
          data-toggle="modal" data-target="#DeleteProject">
          Delete Project
        </button>
      </div>
    </div>

  </div>
  <div class="card col-sm-2 p-0">
    <div class="ui segment" style="border: 0px; box-shadow: 0 0 0 0;">
      <div class=" ui segments d-flex justify-content-between" style="box-shadow: 0 0 0 0;">

        <div class="ui segment  d-flex justify-content-between">
          <a class="font-weight-bold">Planning
            :</a>
          <a class="link" href="{% if project.SPOT_link %}{{ project.SPOT_link }}{% endif %}" id="external_link_1"
            target="_blank" data-toggle="tooltip" data-placement="top"
            title="Click to copy link to clipboard">Link</a>
        </div>
        <div class="ui segment  d-flex justify-content-between">
          <a class="font-weight-bold">EGBC:</a>
          <a class="link" href="{% if project.EGBC_link %}{{ project.EGBC_link }}{% endif %}" id="external_link_2"
            target="_blank" data-toggle="tooltip" data-placement="top"
            title="Click to copy link to clipboard">Link</a>
        </div>
        <div class="ui segment  d-flex justify-content-between">
          <a class="font-weight-bold">SBD:</a>
          <a class="link" href="{% if project.SBD_link %}{{ project.SBD_link }}{% endif %}" id="external_link_3"
            target="_blank" data-toggle="tooltip" data-placement="top"
            title="Click to copy link to clipboard">Link</a>
        </div>
        <div class="ui segment  d-flex justify-content-between">
          <a class="font-weight-bold">PPM:</a>
          <a class="link" href="{% if project.PPM_link %}{{ project.PPM_link }}{% endif %}" id="external_link_4"
            target="_blank" data-toggle="tooltip" data-placement="top"
            title="Click to copy link to clipboard">Link</a>
        </div>
        <input class="copytext" id="copytext" type="text" value="" tabindex="-1" aria-hidden='true'>
      </div>
      <button class="ui right floated button" id="EditLinkButton" type="button"
        data-toggle="modal" data-target="#EditLink">
        Edit Link
      </button>

    </div>
  </div>
</div>
{% endif %}

<div class="collapse pb-4" id="EditProject">
  <div class="card-deck mb-4">
    <div class="card">
      <div class="card-body shadow-sm">
        <div class="card-text text-sm">
          {% include 'todo/include/project_edit.html' %}
        </div>
      </div>
    </div>
  </div>
</div>

<table class="ui celled table" style="border-top: none">
  <thead>
    <tr>
      <th>#</th>
      <th>Hazard</th>
      <th>Risk Level</th>
      <th>Control Measure</th>
      <th>Residual Risk</th>
      <th>Assigned to</th>
    </tr>
  </thead>
  <tbody>
    {% if hazards %}
    {% for hazard in hazards %}
    <tr>
      <td class="collapsing">
        {{ hazard.index }}
      </td>
      <td><a
          href="{% url 'todo:hazard_details' project_id project_slug hazard.id %}">{{ hazard.description }}</a>
      </td>
      <td class="{{ hazard.risk_level.color }}">
        <span>
          {% if hazard.risk_level %}{{ hazard.risk_level }}{% else %}TBD{% endif %}
        </span>
      </td>
      <td>
        {% if hazard.control_measure %}{{ hazard.control_measure }}{% else %}TBD{% endif %}
      </td>
      <td class="{{ hazard.color }}">
        <span>
          {% if hazard.res_level %}{{ hazard.res_level }}{% else %}TBD{% endif %}
        </span>
      </td>
      <td>
        {% if hazard.assigned_to %}{{ hazard.assigned_to }}{% else %}TBD{% endif %}
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <td class="ui placeholder" colspan="6">
    </td>
    {% endif %}
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="5">

        <form method="POST">
          {% csrf_token %}
          <div class="ui right floated buttons">
            <input class="ui small button" type="submit" value="Load Default"
              id="load_hazard"
              name="load_hazard">
            <input type="hidden" name='action' value='load_defaults'>

            <div class="or"></div>

            <button type="button" class="ui button" id="AddHazardButton"
              data-toggle="collapse" data-target="#AddHazard">
              Add Hazard
            </button>
          </div>
        </form>
        <span class="ui left aligned header">
          <h3>List of hazards </h3>
        </span>
      </th>
    </tr>
  </tfoot>
</table>

<div class="collapse pb-4" id="AddHazard">
  <div class="card-deck mb-4">
    <div class="card">
      <div class="card-body">
        <div class="card-text text-sm">
          {% include 'todo/include/hazard_edit.html' %}
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card-deck">

  <div class="card col-sm-9 p-0">
    <div class="card-header">
      <h4 class="pt-0">Stakeholder Engagement</h4>
    </div>
    <div class="card-body">
      {% if engagements.count != 0 %}

      <div class="ui segments" style="box-shadow: 0 0 0 0;">
        {% for engagement in engagements %}
        <div class="ui segment">

          <h6><strong>{{ engagement.date|date:"F d, Y" }}</strong>- discussion with
            <strong>{{ engagement.stakeholders_string }}</strong></h6>
          <div class="ui section divider"></div>

          <p>{{ engagement.body|safe|urlize|linebreaks }}</p>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="ui fluid placeholder">
        <div class="line"></div>

      </div>
      {% endif %}

    </div>
    <div class="card-footer" style="padding-bottom:13px">
      <form action="" method="post" class="d-flex">
        {% csrf_token %}
        <div class="form-group col-sm-9 pl-0 mb-0">
          <label for="id_body">
            <h4>Engagement Details</h4>
          </label>
          <textarea type="text" class="form-control" name="body" id="id_body" style="min-height: 148px"
            required></textarea>

        </div>
        <div class="form-group col-sm-3 pl-0 pr-0 mb-0">
          <div class="row d-flex" style="padding-left:15px; padding-right:15px">
            <label for="id_stakeholders">
              <h4>Stakeholders</h4>
            </label>
            {{ form4.stakeholders }}
          </div>
          <div class="row d-flex" style="padding-left:15px; padding-right:15px">
            <label for="id_date" class="pt-2">
              <h4>Date</h4>
            </label>
            <input type="date" class="form-control mb-2" id="id_date" name="date"
              value="{{ form4.date.value|date:'Y-m-d' }}">
          </div>
          <div class="pt-2">
            <input class="ui button" type="submit" name="edit_engagement"
              value="Submit">
          </div>

        </div>


        <div class="form-group col-md-2">
          <label for="id_project" hidden>Project</label>
          <input type="project" class="form-control" id="id_project" name="project"
            value="{{ form4.project.value }}" hidden>
        </div>

      </form>
    </div>

  </div>

  <div class="card col-sm-3 p-0">
    <div class="ui segment" style="border: 0px; box-shadow: 0 0 0 0;">
      <!--       <div id="AddPerson" class="collapse">
        {% include 'todo/include/person_edit.html' %}
      </div> -->

      <h4 class="pt-0">
        Project Team
      </h4>
      {% if persons %}
      <div class="ui segments" style="border: 0px; box-shadow: 0 0 0 0;">
        {% for person in persons %}
        {% if person.is_team_member %}
        <a data-toggle="modal" id="initial_edit" href="#EditPerson" data-id="{{ person.id }}"
          data-role="{{ person.role }}" data-fname="{{ person.first_name }}"
          data-lname="{{ person.last_name }}" data-email="{{ person.Email }}"
          data-team="{{ person.is_team_member }}" data-stakeholder="{{ person.is_stakeholder }}"
          data-url="{% url 'todo:team_edit' project_id project_slug person.id %}"
          class="list-group-item list-group-item-action d-flex justify-content-between">
          <strong>{{ person.role }}:</strong> {{ person.first_name }}
          {{ person.last_name }}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      {% else %}
      <div class="ui placeholder">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      {% endif %}

      <h4 class="pt-0">
        Stakeholders
      </h4>
      {% if persons %}
      <div class="ui segments" style="border: 0px; box-shadow: 0 0 0 0;">

        {% for person in persons %}
        {% if person.is_stakeholder %}

        <a data-toggle="modal" id="initial_edit" href="#EditPerson" data-id="{{ person.id }}"
          data-role="{{ person.role }}" data-fname="{{ person.first_name }}"
          data-lname="{{ person.last_name }}" data-email="{{ person.Email }}"
          data-team="{{ person.is_team_member }}" data-stakeholder="{{ person.is_stakeholder }}"
          data-url="{% url 'todo:team_edit' project_id project_slug person.id %}"
          class="list-group-item list-group-item-action d-flex justify-content-between">
          <strong>{{ person.role }}:</strong> {{ person.first_name }}
          {{ person.last_name }}
        </a>

        {% endif %}
        {% endfor %}

      </div>
      {% else %}
      <div class="ui placeholder">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      {% endif %}

    </div>
    <div class=card-body></div>
    <div class="card-footer">
      <button type="button" class="ui right floated button" id="AddPersonButton"
        data-toggle="modal" data-target="#EditPerson">
        Add Person
      </button>
    </div>
  </div>
</div>



<div class="modal" id="EditPerson" tabindex="-1" role="dialog" aria-labelledby="editperson"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">{{ project.number }}
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p=4">
        {% include 'todo/include/person_edit.html' %}
      </div>
      <div class="modal-footer">
        <button class="ui red button" id="DeletePersonButton" type="button"
          data-toggle="collapse" data-target="#DeletePerson">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="DeleteProject" tabindex="-1" role="dialog" aria-labelledby="deleteproject"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">{{ project_id }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="collapse show">
          {% include 'todo/include/project_delete.html' %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui small button"
          data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="EditLink" tabindex="-1" role="dialog" aria-labelledby="deleteproject"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectlink">Links</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p=4">
        <div class="collapse show">
          {% include 'todo/include/project_link_update.html' %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="ui small button"
          data-dismiss="modal">Close
        </button>

      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery.tablednd_0_5.js' %}" type="text/javascript"></script>

<script>

  $('#id_stakeholders').select2({
    placeholder: 'Select stakeholders',
    theme: 'classic'
  });


  $("#EditPerson").on("shown.bs.modal", function (event) {
    var target = $(event.relatedTarget); // Button that triggered the modal
    var url = target.data("url");
    var id = target.data("id");
    var role = target.data("role");
    var fname = target.data("fname");
    var lname = target.data("lname");
    var email = target.data("email");
    var team = target.data("team");
    var stakeholder = target.data("stakeholder");
    var modal = $(this);

    //modal.find("#id_role").select2({
    //tags: true,
    //placeholder: '',
    //theme: 'classic'
    //})

    //modal.find("#select2-id_role-container").text(role);

    modal.find("#id_role").val(role);
    modal.find(".modal-title").text(fname + " " + lname);
    modal.find("#id_first_name").val(fname);
    modal.find("#id_last_name").val(lname);
    modal.find("#id_Email").val(email);
    modal.find("#id_person_id").val(id);

    //console.log(modal.find("#id_is_stakeholder").is(':checked'));
   //console.log(modal.find("#id_is_team_member").is(':checked'));
      console.log(team)
      console.log(stakeholder)

      if (team == "True") {
        modal.find("#id_is_team_member").prop("checked", true);
        modal.find("#id_is_stakeholder").prop("checked", false);
      } else {
        modal.find("#id_is_team_member").prop("checked", false);
        modal.find("#id_is_stakeholder").prop("checked", true);
      };


      $('#id_is_stakeholder').change(function()
      {
        if (this.checked != true) {
          modal.find("#id_is_team_member").prop("checked", true);
        } else {
          modal.find("#id_is_team_member").prop("checked", false);
        }
      });
      $('#id_is_team_member').change(function()
      {
        if (this.checked != true) {
          modal.find("#id_is_stakeholder").prop("checked", true);
        } else {
          modal.find("#id_is_stakeholder").prop("checked", false);
        }
      });


      if (modal.find("#id_is_stakeholder").is(':checked')) {
        modal.find("#id_is_team_member").prop("checked", false);
      } else if (modal.find("#id_is_team_member").is(':checked')) {
        modal.find("#id_is_stakeholder").prop("checked", false);

      };
        //console.log(modal.find("#id_is_stakeholder").is(':checked'));
        //if (modal.find("#id_is_stakeholder").is(':checked')) {
          //modal.find("#id_is_team_member").prop("checked", false);
        //}

    if (fname == undefined) {
      modal.find(".modal-title").text("Add a new team member or shakeholder");
      document.getElementById("DeletePersonButton").style.visibility = "hidden";

    };

    window.addEventListener('submit', function(e){
    if (fname == undefined || role == undefined) {
      event.preventDefault();
      event.stopPropagation();
    }
    });


  });

  $("#EditPerson").on("hide.bs.modal", function (event) {

    location.reload();
  });


  $("a.link").on('click', function (e) {
    e.preventDefault();
    var url = $(this).attr('href');

    var copytext = document.getElementById("copytext");
    var t = document.createElement("textarea");

    console.log(url);

    copytext.value = url;


    copytext.select();
    copytext.setSelectionRange(0, copytext.value.length);
    document.execCommand('copy');

    t.value = url;

    document.body.appendChild(t);
    t.select();
    document.execCommand("copy");
    document.body.removeChild(t);
    document.removeElement(t)
    console.log(copytext);
    $(this).focus();



    /* console.log(copytext.value)
    document.body.appendChild(copytext);
    copytext.select(); */


  });

</script>


{% endblock extra_js %}
