{% extends "base.html" %}
{% block page_heading %}{% endblock %}
{% block title %}Project List{% endblock %}
{% block content %}

<h2 class="ui dividing header d-flex justify-content-between mb-4">
  PROJECTS
  <button class="ui button" type="button" data-toggle="collapse"
    data-target="#AddProject" aria-expanded="false" aria-controls="AddProject">
    Add Project
  </button>
</h2>
<div id="AddProject" class="collapse">
  <div class="card card-body shadow-sm">
    {% include 'todo/include/project_edit.html' %}
  </div>
</div>

<div class="ui segments" style="box-shadow: none">
  <div class="ui segment">
    {% regroup object_list by POR as section_list %}
    {% for POR in section_list %}

    <h3>Engineer: {{ POR.grouper.get_full_name }}</h3>
  </div>
  <div class="ui segments" style="box-shadow: 0 0 0 0;">
    {% for project in object_list %}
    {% if project.POR == POR.grouper %}
    <div class="ui segment" style="border-bottom: none">
      <div class="ui equal width grid">
        <div class="fifteen wide column">
          <a href="{% url 'todo:project_details' project.id project.slug %}"
            class="">
            <span>{{ project.number }}
              {% if project.SAP_id %}({{ project.SAP_id }}){% endif %}:
              {% if project.title %} {{ project.title }} {% endif %}
            </span>
          </a>
        </div>
        <div class="column">
          <a class="ui negative label">{{ project.counts }} </a>
        </div>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-primary progress-bar-striped" role="progressbar"
        style="width:{{project.progress}}%;"
        aria-valuenow="{{project.progress}}" aria-valuemin="0"
        aria-valuemax="100">
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
  {% endblock %}

  {% block extra_js %}
  <script>
    $('#project_progress_*').progress();

  </script>
  {% endblock extra_js %}